

.caption 
{
    font-size: 1rem;
}

.footer-caption 
{
    @extend .caption;
    font-weight: 400;
    color: $color-MediumBrown;
}

.cmp 
{
    box-sizing: border-box;
    width: 91%;
    max-width: 540px;

    & > * {
        box-sizing: border-box;
    }

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }

    &__header 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-Red;
        border-radius: 10px;
        padding: 1.33em;
        margin-bottom: 1em;
    }

    &__balance
    {
        color: $color-White;
        &__label 
        {
            @extend .caption;
            margin-bottom: .26em;
        }

        &__value 
        {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }


    &__main
    {
        background-color: $color-White;
        padding:1.6em 1.33em;
        padding-bottom: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    &__title
     {
        font-size: 1.6rem;
        margin-bottom: 2em;
        color: $color-DarkBrown;
     }

    &__chart 
    {
        border-bottom: 2px solid $color-Cream;
        padding-bottom: 1.6em;
        display: flex;
        justify-content: space-between;
        align-items: end;

        &__item
        {
            width: 10.8%;
            text-align: center;
            position: relative;
            cursor: pointer;
            transition: all 300ms;

            &:hover {
                filter:brightness(120%);
            }

            &:hover .cmp__chart__label
             {
                opacity: 100%;
             }
        }

        &__inner 
        {
            background-color: $color-Red;

            &--active 
            {
                background-color: $color-Cyan;
            }
        }

        &__day
        {
            font-size: .8rem;
            color: $color-MediumBrown;
        }


        &__label {
            @extend .caption;
            position: absolute;
            top:-20px;
            left:50%;
            transform: translate(-50%, -100%);
            background-color: $color-DarkBrown;
            color:$color-CardWhite;
            padding: .53em;
            border-radius: 5px;
            opacity: 0%;
            transition: all 300ms;
        }
      
    }

    &__footer 
    {
        background-color: $color-White;
        padding: 1.6em 1.33em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: 0;
    }

    &__totals
    {
        margin-top: 0;
        &__label
        {
            @extend .footer-caption;
            margin-bottom: .26em;
        }

        &__value 
        {
            font-size: 2rem;
            font-weight: bold;
            margin-top: 0;
        }
    }

    &__last
    {
        display: flex;
        flex-direction: column;
        align-items: end;
        &__value
        {
            margin-bottom: 0;
            margin-top: 0;
            font-weight: bold;
        }

        &__label
        {
            @extend .footer-caption;
            margin-top: 0;
        }
    }
}